/* Reset Default Styles */
* {
	font-family: arial;
	padding:0; 
	margin:0;
}

/* Challenge Custom Styles */

/* Use these colors for the challenge:

header and footer background color - #babaff
main background color - #f0f8ff
global navigation background color - #00f
footer navigation background color - #00f
navigation hover color - #ff9600
main heading font color - #001a63
main font color - #707070

*/

/* Container */
#container {
	width:800px;
	border: 1px solid #999;
	background-color:#fff;
	margin: 20px;
}

/* Header */
header {
	height: 100px;
}
header, footer {
	
}

/* Main */
main {
	width: 75%;
	padding:15px;
	margin-bottom:5px;
	float:left;
}
main h2 {
	font:normal bold 16px; 
	margin:10px 0; 
}

/* Global Navigation */
.globalNav {
	float:left; 
	width:20%; 
	border:1px solid #00f; 
	border-bottom:none; 
}
.globalNav ul {
	
}
.globalNav ul li {
	display: block;
	border-bottom:1px solid #fff;
}
.globalNav ul a { 
	font:normal bold 14px; 
	text-decoration:none; 
}
.globalNav ul a:hover {
	
}
[src="images/gcimage.png"] {
	float:right;
}

/* Footer */
footer {
	clear:both;
}
footer p {
	
}
.footerNav {
	background:#00f;
	padding: 5px 0;
}
.footerNav li {
	border-left:1px solid #fff;
}
.footerNav li:first-child {
	border-left:none;
}
.footerNav a {
	color:#fff; 
	font:normal bold 14px; 
	text-decoration:none;
}
.footerNav a:hover {

}























